<% content_for :javascript_includes do %>
  <%= javascript "subscribe.js" %>
<% end %>
<div id="web_main">
    <div id="main" class="edit_dv">
        <div id="left-main">
            <div class="left-main inner">
                <div class="panel-section">
                    <div class="title"><h3>Create Account:</h3></div>

                    <div id="infor" class="error_message clear-block"></div>
                    <label>Email Address:</label>
                    <span class='must'>
                        <input type='text' id='email' name='email' />
                    </span> 
                    <span class='success_message email_avail'>
                        Email is Available
                    </span>
                    <span class='error_message email_unavail'>
                        Email is already in use.
                    </span>
                    <br>
                </div>
                <div class="panel-section">
                    <div id='card_dv'>
                        <iframe id="z_hppm_iframe" frameborder="0" name="z_hppm_iframe" width="600" height="550" src=""></iframe>
                    </div>
                </div>
                <a class="btn_submit subscribe_button" href="javascript:" onClick="onsubmit_action();">Subscribe</a>
            </div>
        </div>
        <div id="right-sub">
            <div class="right-sub inner">
                <div class="title"><h3>Selected Products</h3></div>
                <ul class="chosen_plans">

                </ul>
                <div class="display_field subtotal_display"> <span class="display_field label"></div>
                <span class='clear-block'></span>
                <div class="alignRight" style="margin-top: 10px"><a class="btn_submit change_products" href="/select_products/select_products">Change Products</a></div>
            </div>
        </div>
    </div>
    <div class="clear-block"></div>
</div>