<html>
    <head>
      <title>Successful Payment method generated </title>
    </head>
    <body>
        Successful Payment method generated:<b>" . <%= @sub_res %></a>. "</b><br/>
    </body>
</html>"

