<div id="web_main">
  <div id="main" class="edit_dv">
    <div id="left-main">
      <div class="left-main inner">
        <div class="title">
          <h3>Select Products</h3>
        </div>
      </div>
    </div>
    <div id="right-sub">
      <div class="right-sub inner">
        <div class="title">
          <h3>Chosen Products</h3>
        </div>
        <ul class="chosen_plans">
        </ul>
        <a href="javascript:" id='remove_all_button' class="btn_submit item_button floatLeft" style="margin-bottom: 15px">Remove All</a> 
        <a href="subscribe.html" class="btn_submit item_button floatRight" style="margin-bottom: 15px">Next</a> 
        <div class="clear-block"></div>
      </div>
    </div>
  </div>
</div>